<div class="header">
  <!-- Categories -->

  <div class="categories">
    <a routerLink="/men">Men</a>
    <a routerLink="/women">Women</a>
    <a routerLink="/kids">Kids</a>
    <a routerLink="/new">New & featured</a>
  </div>

  <!-- logo -->
  <div class="logo">
    <img class="logo" src="assets/logos/logo_white_bg.png" alt="Logo" class="logo" />
  </div>

  <!-- search and login -->

  <div class="search-login">
    <mat-icon>search</mat-icon>
    <mat-icon>card_giftcard</mat-icon>

    <!-- Show profile icon if user is logged in, otherwise show login link -->

    @if(isLoggedIn$ | async){
      <div class="profile-icon">{{initials$ | async}}</div>
    }@else {
      <a routerLink="/login">Login</a>
    }
  </div>
</div>
